body {
    background: rgb(80,180,190);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: lowercase;
}

header{
    text-align: left;
}

h1 {
    color: rgb(175, 75, 65);
    stroke-width: 5px;
    font-size: 60px;
    margin: 0px;
    padding: 0px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
}

nav a:link, a:visited {
    color: black;
    padding: 5px;
    text-decoration: none;
}

nav a:hover {
    color: rgb(175, 75, 65);
}

section{
    padding: 100px 0px;
    display: flex;
    flex-direction: row;
}

section a:link, a:visited{
    font-size: 25px;
    margin: auto;
    padding-top: 75px;
    width: 200px;
    height: 125px;
    border: 5px solid black;
    border-radius: 50%;
    color: black;
    text-align: center;
    text-decoration: none;
}

section a:hover {
    border-color: rgb(175, 75, 65);
    color: rgb(175, 75, 65);
}


footer{
    text-align: center;
    font-size: 15px;
}