body {
    background: rgb(80,180,190);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: lowercase;
}

/* Main CSS */

header{
    text-align: left;
}

h1 {
    color: rgb(175, 75, 65);
    stroke-width: 5px;
    font-size: 60px;
    margin: 0px;
    padding: 0px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    font-size: 18px;
}

nav ul.page {
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 18px;
}

nav ul a:link, a:visited {
    color: black;
    padding: 10px;
    text-decoration: none;
}

nav ul a:hover {
    color: rgb(175, 75, 65);
}

p{
    font-size: 20px;;
}

li{
    list-style-type: none;
    margin: none;
    padding: 10px 0px;
    font-size: 18px;
}

section{
    padding: 25px 0px;
    display: flex;
    flex-direction: row;
}

section a:link, a:visited{
    font-size: 35px;
    margin: 10px auto;
    padding-top: 100px;
    width: 250px;
    height: 150px;
    border: 5px solid black;
    border-radius: 50%;
    color: black;
    text-align: center;
    text-decoration: none;
}

section a:hover {
    border-color: rgb(175, 75, 65);
    color: rgb(175, 75, 65);
}

/* Grid layout for Portfolio */

section.grid_box{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 300px 100px;
    justify-content: center;
    grid-template-areas: "img sec_main" "img sec_foot";
}

section.grid_box2{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 300px 100px;
    justify-content: center;
    grid-template-areas: "sec_main img" "sec_foot img";
}

section img.grid_sec1{
    height: 400px;
    width: 400px;
    grid-area: img;
}
section div.grid_sec2{
    background-color: rgb(175, 75, 65);
    grid-area: sec_main;

}
section div.grid_sec3{
    background-color: black;
    grid-area: sec_foot;
}

section h2.main{
    font-size: 18px;
    margin-top: 0px;
    padding: 5px;
    text-transform: none;
    color: black;
}

section p.main{
    font-size: 14px;
    padding: 0px 5px;
    text-transform: none;
    color: black;
}

section p.sub{
    font-size: 12px;
    padding: 0px 5px;
    margin: none;
    color: white;
}

section a.sub{
    font-size: 12px;
    padding: 0px 5px;
    margin: none;
    border: none;
    color: white;
}

section a.sub:hover {
    color: rgb(175, 75, 65);
}

/* Footer */

footer{
    padding-top: 125px;
    text-align: center;
    font-size: 15px;
}

footer.big_pad{
    padding-top: 300px;
    text-align: center;
    font-size: 15px;
}

/* Responsive Design */

@media screen and (max-width: 800px){
    section{
        flex-direction: column;
    }

    section.grid_box{
        display: grid;
        grid-template-columns: 400px;
        grid-template-rows: 400px 175px 80px;
        justify-content: center;
        grid-template-areas: "img" "sec_main" "sec_foot";
    }

    section.grid_box2{
        display: grid;
        grid-template-columns: 400px;
        grid-template-rows: 400px 175px 80px;
        justify-content: center;
        grid-template-areas: "img" "sec_main" "sec_foot";
    }
}



